@model Addmition__Elgibilty_K_A.View_Model.setting_of_specialist_ViwModel

@{
    ViewData["Title"] = "Edit_Setting_of_speclaties";
}

<h1>Edit_Setting_of_speclaties</h1>

<h4>setting_of_specialist_ViwModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit_Setting_of_speclaties">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="id" class="control-label"></label>
                <input asp-for="id" class="form-control" />
                <span asp-validation-for="id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Chair_count" class="control-label"></label>
                <input asp-for="Chair_count" class="form-control" />
                <span asp-validation-for="Chair_count" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Minemum_rate" class="control-label"></label>
                <input asp-for="Minemum_rate" class="form-control" />
                <span asp-validation-for="Minemum_rate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="faculty_id" class="control-label"></label>
                <input asp-for="faculty_id" class="form-control" />
                <span asp-validation-for="faculty_id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

